* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

main {
  display: flex;
  justify-content: center;
  margin: 74px 135px;
}

.form-section {
  background: #fff;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin-right: 30px;
  width: 570px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-name {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-full-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.select2-container .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
  align-items: center;
}
.select2-container .select2-selection--single {
  height: 38px;
}

small {
  font-size: 0.85em;
  color: #666;
  margin-top: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
  height: 38px;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

.form-group input[type="radio"] {
  display: inline-block;
}

.form-group label[for="male"],
.form-group label[for="female"] {
  display: flex;
  align-items: center;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.footer p {
  text-align: center;
  margin-top: 10px;
  color: var(--gray, #969696);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .have {
  color: var(--gray-dark, #545454);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;

  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e4e4e4;
}

.form-name,
.radio-group {
  color: var(--gray-dark, #545454);
  font-feature-settings: "liga" off, "clig" off;

  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  max-width: 500px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.file-upload {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 1fr;
}

.file-input {
  cursor: pointer;
  display: none;
}

.file-label {
  align-items: right;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.camera-icon::before {
  content: url("../images/camera.png");
  align-self: right;
}

.delete-button {
  background: none;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  align-items: left;
}

.trash-icon::before {
  content: url("../images/trash.svg");
}

.file-upload span {
  color: #969696;
  font-feature-settings: "liga" off, "clig" off;

  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#profile-form .update-btn {
  width: 150px;
  height: 38px;
}
